.header-filter {
background-color: rgb(78, 76, 76);
height: 80px;
}
.header-logo {
    background-color: #ebe3e3;
    height: 55px;
    width: 55px;
    border-radius: 95%;
    color: #0c0b09;
    font-size: 30px;
    margin: 8px;
    padding: 7px;
    text-align: center;
    display: inline-block;
}
.user-accounts {
    display: inline-block;
    float: right;
    margin-top: 8px;
    color: white;
    font-weight: 500;
    margin-right: 20px;
}
.login {
    display: inline-block;
}
.sign-up {
    display: inline-block;
    border: solid 1px white;
    padding: 5px;
    margin-left: 10px;
}
.filter{
    box-shadow: 10px 10px 10px 10px rgb(90, 88, 88);
    height: 700px;
    width: 70%;
    margin-left: 35px;
    margin-top: 40px;
    padding: 20px;
}
.item{
    box-shadow: 10px 10px 10px 10px rgb(59, 58, 58);
    height: 300px;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.filter-heading {
    margin-top: 40px;
    margin-left: 40px;
    font-size: -webkit-xxx-large;
    font-weight: 200;
}
.pagination {
    text-align:center;
    padding-right: 230px;
}
.page {
display: inline-block;
  box-shadow: 1px 1px 2px 2px rgb(94, 92, 92);
padding: 8px;
border-radius: 10px;
}
.filter-header {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: black;
    margin-top: 20px;
}
.dd{
    width: 200px;
    height: 26px;
    margin-top: 10px;
    color: rgb(104, 110, 104);
}
.filter-options {
    font-size: 15px;
    font-family: cursive;
    color: gray;
    line-height: 2;
}
.right-div{
    display: inline-block;
    width: 65%;
    magin-left: 450px;
    position: absolute;
    margin-left: 450px;
    margin-top: -800px;
    padding: 10px;
}
.item-heading{
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    color: black;
}